<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.pro_2.review_mapper.ReviewMapper">
<insert id="write_ok" parameterType="kr.co.pro_2.review_vo.ReviewVO">
	insert into review(review_title, review_content, review_name)
	 values(#{review_title},#{review_content},#{review_name});
</insert>
<select id="list" resultType="kr.co.pro_2.review_vo.ReviewVO">
	select * from review order by review_id desc;
</select>	
 <select id="content" parameterType="Integer" resultType="kr.co.pro_2.review_vo.ReviewVO">
 	select*from review where review_id=#{param1} 
 </select>
 <update id="readnum">
  update review set review_readnum=review_readnum+1 where review_id=#{param1}
 </update>
<select id="ispwd" resultType="Integer">
 	select count(*) from review where review_id=#{param1} and review_pwd=#{param2}
 </select>
 <update id="update_ok" parameterType="kr.co.pro_2.review_vo.ReviewVO">
 	update review set review_title=#{review_title}, review_content=#{review_content} where review_id=#{review_id}
 </update>
 <delete id="delete">
 	delete from review where review_id=#{param1}
 </delete>
</mapper>    