<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybats-3-mapper.dtd">
<mapper namespace="kr.co.pro_2.manage_mapper.ManageMapper">
	<select id="isadmin" parameterType="String" resultType="Integer">
		select member_admin from member where member_userid=#{param1}
	</select>
</mapper>