@charset "UTF-8";
#glove_lists{
	display:block;
}
#bat_lists{
	display:none;
}
#shoes_lists{
	display:none;
}
#uniform_lists{
	display:none;
}
#equipment_lists{
	display:none;
}

img, .img {
	width:190px;
}