@charset "UTF-8";
#glove_lists{
	display:block;
}
#bat_lists{
	display:none;
}
#shoes_lists{
	display:none;
}
#uniform_lists{
	display:none;
}
#equipment_lists{
	display:none;
}
table, tr, td {
	border:1px solid black;
}
img, .img {
	width:100px;
}