<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybats-3-mapper.dtd">
<mapper namespace="kr.co.pro_2.product_mapper.ProductMapper">
  <select id="glove_list" resultType="kr.co.pro_2.product_vo.ProductVO">
    select * from product where product_kinds=0 order by product_id desc
  </select>
  <select id="bat_list" resultType="kr.co.pro_2.product_vo.ProductVO">
    select * from product where product_kinds=1 order by product_id desc
  </select>
  <select id="shoes_list" resultType="kr.co.pro_2.product_vo.ProductVO">
    select * from product where product_kinds=2 order by product_id desc
  </select>
  <select id="uniform_list" resultType="kr.co.pro_2.product_vo.ProductVO">
    select * from product where product_kinds=3 order by product_id desc
  </select>
  <select id="guard_list" resultType="kr.co.pro_2.product_vo.ProductVO">
    select * from product where product_kinds=4 order by product_id desc
  </select>
  <select id="resinbag_list" resultType="kr.co.pro_2.product_vo.ProductVO">
    select * from product where product_kinds=5 order by product_id desc
  </select>
  <select id="leathercream_list" resultType="kr.co.pro_2.product_vo.ProductVO">
    select * from product where product_kinds=6 order by product_id desc
  </select>
  <select id="ball_list" resultType="kr.co.pro_2.product_vo.ProductVO">
    select * from product where product_kinds=6 order by product_id desc
  </select>
  <update id="product_readnum">
   	update product set product_readnum=product_readnum+1 where product_id=#{param1}
  </update>
  <select id="product_content" resultType="kr.co.pro_2.product_vo.ProductVO">
  	select * from product where product_id=#{param1}
  </select>
  <select id="product_call_member_id" resultType="Integer">
  	select member_id from member where member_userid=#{param1}
  </select>
  <insert id="cart_input_ordernum">
  	insert into cart(cart_ordernum) values(#{param1})
  </insert>
  <insert id="product_buy0">
  	insert into cart(cart_ordernum,cart_kinds,cart_count,cart_name,cart_price,cart_size0,cart_throw,cart_material,cart_color0,cart_purpose,cart_group,cart_userid,cart_product_id,cart_order_phone) values(#{param1},#{param2},#{param3}, #{param4},#{param5}, #{param6}, #{param7}, #{param8}	 ,#{param9},  #{param10},  #{param11},#{param12}, #{param13},#{param14})
  </insert>
  <insert id="product_buy1">
  	insert into cart(cart_ordernum, cart_kinds, cart_count, cart_name, cart_price, cart_size0, cart_material, cart_color0, cart_purpose, cart_group, cart_userid,cart_product_id,cart_order_phone) values(#{param1},#{param2},#{param3},#{param4},#{param5},#{param6},#{param7},#{param8},#{param9},#{param10},#{param11},#{param12},#{param13})
  </insert>
  <insert id="product_buy2">
    insert into cart(cart_ordernum, cart_kinds, cart_count, cart_name, cart_price,cart_size0,cart_material,cart_color0,cart_purpose, cart_group, cart_userid,cart_product_id,cart_order_phone) values(#{param1},#{param2},#{param3},#{param4},#{param5},#{param6},#{param7},#{param8},#{param9},#{param10},#{param11},#{param12},#{param13})
  </insert>
  <insert id="product_buy3">
  	insert into cart(cart_ordernum, cart_kinds, cart_count, cart_name, cart_price, cart_size0, cart_size1, cart_style0, cart_style1, cart_color0, cart_color1, cart_purpose, cart_group, cart_userid,cart_product_id,cart_order_phone) values(#{param1},#{param2},#{param3},#{param4},#{param5},#{param6},#{param7},#{param8},#{param9},#{param10},#{param11},#{param12},#{param13},#{param14},#{param15})
  </insert>
  <insert id="product_buy4">
  	insert into cart(cart_ordernum, cart_kinds, cart_count,cart_name, cart_price, cart_color0, cart_purpose, cart_group, cart_userid,cart_product_id,cart_order_phone) values(#{param1},#{param2},#{param3},#{param4},#{param5},#{param6},#{param7},#{param8},#{param9},#{param10},#{param11})  
  </insert>
  <insert id="product_buy5">
	insert into cart(cart_ordernum, cart_kinds, cart_count, cart_name, cart_price, cart_material, cart_purpose , cart_group, cart_userid,cart_product_id,cart_order_phone) values(#{param1},#{param2},#{param3},#{param4},#{param5},#{param6},#{param7},#{param8},#{param9},,#{param10},#{param11})
  </insert>
  <insert id="product_buy6">
  	insert into cart(cart_ordernum, cart_kinds, cart_count, cart_name, cart_price, cart_material , cart_group, cart_userid,cart_product_id,cart_order_phone) values(#{param1},#{param2},#{param3},#{param4},#{param5},#{param6},#{param7},#{param8},#{param9},#{param10})
  </insert>
  <insert id="product_buy7">
  	insert into cart(cart_ordernum, cart_kinds, cart_count, cart_name, cart_price, cart_group, cart_userid,cart_product_id,cart_order_phone) values(#{param1},#{param2},#{param3},#{param4},#{param5},#{param6},#{param7},#{param8},#{param9})
  </insert>
  <select id="product_payment" parameterType="String" resultType="kr.co.pro_2.product_vo.CartVO">
  	select * from cart where cart_group=#{param1} order by cart_id desc
  </select>
  <select id="show_member_information" resultType="kr.co.pro_2.member_vo.MemberVO">
  	select * from member where member_userid=#{param1}
  </select>
  <select id="get_member_phone" resultType="String">
  	select member_phone from member where member_userid=#{param1}
  </select>
  <select id="product_output_img" resultType="kr.co.pro_2.product_vo.ProductVO" >
  	select product_img from product join cart on cart.cart_product_id=product.product_id where cart.cart_group=#{param1}
  </select>
  <select id="product_cart_list" resultType="kr.co.pro_2.product_vo.CartVO" parameterType="String">
  	select * from cart where cart_userid=#{parame1}
  </select>
  <delete id="product_buy_done">
  	delete from cart where cart_group=#{param1}
  </delete>

  
  
<!--   <update>
  	update cart set 
  </update> -->
<!--   <insert id="glove_buy" parameterType="kr.co.pro_2.product_vo.BuyVO">
  	insert into buy(buy_throw) vlaues()
  </insert>
  <update id="cart_grouping" >
  	update cart set cart_group	
  </update> -->
<!-- product_kinds=0 glove
product_kinds=1 bat  
product_kinds=2 shoes  
product_kinds=3 uniform  
product_kinds=4 guard
product_kinds=5 resinbag  
product_kinds=6 leathercream  -->
</mapper>